<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container">
        <h1>When Did Each Cohort Start Each Exercise?</h1>
        <div class="form-group col-md-12">
            <label for="">Exercise Search</label>
            <input v-model="exerciseSearch" class="form-control" type="" placeholder="Search by exercise name">
        </div>
        <hr style="clear: both;">
        <div class="col-md-6 form-group">
            <label for="">Cohort Name</label>
            <input class="form-control" v-model="cohortSearch">
        </div>
        <div class="form-group col-md-6">
            <label for="">Exercises with data for at least (x) cohorts</label>
            <input type="number" v-model="minNumberCohorts" class="form-control">
        </div>
        <hr style="clear:both;">
        <div class="form-group col-md-6">
            <label for="">Days Into The Cohort</label>
            <input class="form-control" type="number" v-model="daysIntoCohort" placeholder="# days into the cohort the exercise was started">
        </div>
        <div class="form-group col-md-6">
            <label>Plus or Minus</label>
            <input class="form-control" type="number" v-model="daysFuzz">
        </div>
        <hr style="clear:both;">
        <h3 class="text-center">Total: <span id="total"></span></h3>
        <div class="exercise" v-for="exercise in exercises | searchFilter | orderBy exercise.avg_days">
            <hr v-if="$index % 2 == 0" style="clear:both;">
            <div class="col-md-6">
                <h2>{{ exercise.name }}</h2>
                <table class="table table-hover">
                    <tr>
                        <th>Cohort</th>
                        <th>Days Into Cohort</th>
                        <th>Start Date</th>
                    </tr>
                    <tr>
                        <td>Average</td>
                        <td>{{ exercise.avg_days.toFixed(1) }}</td>
                        <td>
                            Week {{ Math.floor(exercise.avg_days / 5) + 1 }}
                            Day {{ Math.floor(exercise.avg_days % 5) || 5 }}
                        </td>
                    </tr>
                    <tr v-for="cohort in exercise.cohorts">
                        <td>{{ cohort.name }}</td>
                        <td>{{ cohort.days_since_start }}</td>
                        <td>{{ cohort.start_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.2/lodash.min.js"></script>
    <script src="/vue.js"></script>
    <script src="/main.js"></script>
</body>
</html>
